.bg-primary {
  background-color: #fff !important;
}
.btn-primary {
  border-radius: 50%;
  padding: 0;
 margin: 20px 0 0 0;
  line-height: 0;
  border:4px solid #000;
  font-size: 1px;
  letter-spacing: 0px;
  color: #8d8886;
}
.btn-primary.btn-filled {
  background-color: #fff;
  color: #fff;
}
.btn-secondary {
  background-color: #000;
    border-radius: 25pt;
  color: #fff;
}
 .btn-text-only{
  background-color: #fff;
    border-radius: 25pt;
  color: #fff;
}
.btn-white {
  border-color: #000;
      background-color: #fff;
  color: #fff;
}
.btn-white:hover {
  background: #fff;
    border-color: #000;
  color: #333333;
}
.btn-white.btn-filled {
  background: #fff;

}

.article-body h2 {
  font-weight: 600;
  font-size: 24px;
     margin-top: 24px;
  margin-bottom: 12px;
}

.alt-font {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 48px;
}
